<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashboardkiosdeliv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_kios_deliv_3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_kios_deliv_3"
        android:supportsRtl="true"
        android:theme="@style/Apptheme.NoActionbar">

        <activity
            android:name=".BoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".InformasiDepositActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressLoketActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardStaffMarketingActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardDirekturActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MenuDirekturActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>